@tailwind base;
@tailwind components;
@tailwind utilities;

.Card {
    @apply w-48 h-64 shadow-md rounded-lg flex-none transform transition-all hover:-translate-y-4 hover:shadow-xl
}

.CardTittle {
    @apply text-3xl px-8 pt-8 pb-1 font-semibold text-white
}
.CardTittleWithNoiceBg {
    @apply text-3xl px-8 pt-8 pb-1 font-semibold text-white lg:text-black
}
.destacadosContainer {
    @apply w-full px-6 h-auto;
}

.cardTop2 {
    @apply w-full h-96 bg-LA bg-cover rounded-xl
}
.cardTop3 {
    @apply w-full h-96 bg-LA bg-sydney rounded-xl
}